body {
  color: lightblue;
  font-family: Arial;
}

div {
  min-height: 50vh;
  width: l00vw;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 5em;
}

img {
  display: flex;
  padding: auto;
  margin: 0;
  border-radius: 130px;
}

p {
  width: 40%;
  font-size: 2em;
  margin: 10vh 10vw
}

a {
  color: rgb(158, 55, 195);
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 1em;
  display: flex;
  justify-content: space-evenly;
}

div.contrast {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li {
  width: 40%;
  margin: 10vh 10vw
}

li:hover {
  font-size: 2.2em;
  color: rgb(141, 209, 219);
  transition: 0.6s ease
}